.DS_Store
/archivio-be/.DS_Store

/archivio-be/venv/
/archivio-be/.idea/
/archivio-be/archivio_be/db.sqlite3
/archivio-be/archivio_be/archivio_be/__pycache__/
/archivio-be/archivio_be/annotazione/__pycache__/
/archivio-be/archivio_be/annotazione/migrations/__pycache__/
/archivio-be/archivio_be/archivio/__pycache__/
/archivio-be/archivio_be/archivio/migrations/__pycache__/
/archivio-be/archivio_be/caso/__pycache__/
/archivio-be/archivio_be/caso/migrations/__pycache__/
/archivio-be/archivio_be/fascicolo/__pycache__/
/archivio-be/archivio_be/fascicolo/migrations/__pycache__/
/archivio-be/archivio_be/ruolo/__pycache__/
/archivio-be/archivio_be/ruolo/migrations/__pycache__/
/archivio-be/archivio_be/stato/__pycache__/
/archivio-be/archivio_be/stato/migrations/__pycache__/
/archivio-be/archivio_be/utente/__pycache__/
/archivio-be/archivio_be/utente/migrations/__pycache__/
/archivio-be/archivio_be/utente_ruolo/__pycache__/
/archivio-be/archivio_be/utente_ruolo/migrations/__pycache__/

/archivio-fe/archivio-fe/node_modules/
